<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Moradores</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Quant. Moradores:</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.total"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-label>Gênero:</ion-label>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.generos.masc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Feminino:</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.generos.fem"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Não informado:</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.generos.nIdent"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-label>Faixa etaria:</ion-label>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Jovens:</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.idades.jovens"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="12">
        <ion-item>
          <ion-label>Adultos:</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.idades.adultos"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Idosos:</ion-label>
          <ion-input type="text" [(ngModel)]="moradores.idades.idosos"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-content>
