<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Reservas</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- person-outline -->
<ion-content>

  <ion-row>

    <ion-col class="ion-text-right" size="12">
      <ion-item>
        <ion-label>Áreas:</ion-label>
        <ion-select placeholder="Select One" [(ngModel)]="area">
          <ion-select-option *ngFor="let a of areas">{{a.area_nome}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label>Nome:</ion-label>
        <ion-input type="text" [(ngModel)]="nome"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item>
        <ion-label>Unidade:</ion-label>
        <ion-input type="text" [(ngModel)]="unidade"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="6">
      <ion-item>
        <ion-label>Bloco:</ion-label>
        <ion-input type="text" [(ngModel)]="bloco"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label>Telefone:</ion-label>
        <ion-input type="text" [(ngModel)]="telefone"></ion-input>
      </ion-item>
    </ion-col>

    <ion-col size="12">
      <ion-item>
        <ion-label>Data da reserva:</ion-label>
        <ion-input type="text" [(ngModel)]="reserva_data"></ion-input>
      </ion-item>
    </ion-col>

  </ion-row>

</ion-content>

<ion-footer>
  <ion-col class="ion-text-right" size="12">
    <ion-button color="light" type="submit" expand="full" (click)="create()">
      Finalizar
    </ion-button>
  </ion-col>
</ion-footer>
