<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Dados Pessoais</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-avatar style="width: 150px; height: 150px; margin: 10px auto auto;">
        <img style="max-width: 100%;" [src]="foto ? foto: 'assets/img/undefined-user-picture.png'">
      </ion-avatar>
    </ion-col>

    <ion-col size="12" class="ion-text-center">
      <ion-button size="small" (click)="openCamera()"><ion-icon name="camera" slot="start"></ion-icon> Câmera</ion-button>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="dados && dados.morador_id">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Nome:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.nome"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>CPF:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.cpf"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>RG:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.rg"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Data de Nascimento:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.data_nasc"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label>Unidade:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.unidade"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item>
          <ion-label>Bloco:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.bloco"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Telefone celular:</ion-label>
          <ion-input type="text" [(ngModel)]="dados.telefone"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
