<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Mural de noticias</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-row>
      <ion-col class="mural">
        
        <p class="frases" *ngFor="let frase of mural">
          {{ frase.noticias_id }}. {{ frase.conteudo }}
        </p>
        
      </ion-col>
    </ion-row>
  </div>

</ion-content>
