<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Mural de noticias</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div>
    <ion-row>
      <ion-col class="mural">
        
        <p class="frases">1- Atenção moradores, no dia 21/03/2021, irá 
          ser feita a dedetização dos blocos 1 e 2.</p>
  
        <p class="frases">2- COMUNICADO GERAL:
          A Assembleia de condominos será realizada 
          no próximo dia 01/03/2021, às 19:00hrs,
          no salão de festa nº 2, peço a participação de 
          todos, pois será colocado em pauta a implantação do novo sistema de cameras</p>
        
        <p class="frases">3- Senhores condominos, informo que já está
          na portaria os novos controles para utilização 
          portão social.</p>
        
        <p class="frases">4- INFORMATIVO:
          Fique sempre atento ao app do condominio,
          pois aqui vocês consegue ficar informado de 
          tudo que acontece na nossa comunidade</p>
        
      </ion-col>
    </ion-row>
  </div>

</ion-content>
