.mural {
    position: absolute;
    width: 307px;
    height: 480px;
    left: 26px;
    top: 55px;

    background: #C4C4C4;
}

.frases {
    font-weight: bold; 
    font-size: 13px;
    color: black; 
    line-height: 1.8;
}