<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Dashboard Page</ion-title>

    <ion-buttons slot="primary">
      <ion-button slot="end" (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let item of dashboardItems">
        <ion-card class="ion-no-margin" style="height: 100%;" [routerLink]="'/home/' + item.routerLink" routerDirection="forward">
          <ion-card-content class="ion-text-center" style="font-size: 3rem;">
            <ion-icon [name]="item.icon"></ion-icon>
            <h4>{{item.title}}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
